p {
    font-style: italic;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fce200;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;


}

h2{
    color: rgb(182, 31, 31);
    background-color: antiquewhite;
}

tr {
    background-color: antiquewhite;
}

/*Esto es un comentario en CSS y se esta comentado la propiedad de color de la tabla*/

td {
    /*background-color: darksalmon;*/
}

img {
    float: center;
}

#news {
    background-color: azure;
}

#colombia {
    background-color: yellowgreen;
}

#main-foto {
    background-color: yellow;
}

.news-content {
    background-color: royalblue;
}