p {
    font-style: italic;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    color: rgb(182, 31, 31);
    background-color: antiquewhite;
}

tr {
    background-color: antiquewhite;
}

/*Esto es un comentario en CSS y se esta comentado la propiedad de color de la tabla*/

td {
    /*background-color: darksalmon;*/
}

img {
    float: center;
}

#news {
    background-color: azure;
}

#colombia {
    background-color: yellowgreen;
}

.news-content {
    background-color: royalblue;
}