* {
    margin: 0;
    padding: 0;
}

p {
    font-style: italic;
}

a {
    background-color: #44803f;
    margin: 5px;
    border-radius: 30px;
    padding: 5px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ffec5c;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;


}

h2{
    color: #252524;
    background-color: #84cf66;
    margin-top: 15px;
}

tr {
    background-color: #b4cf66;
}

/*Esto es un comentario en CSS y se esta comentado la propiedad de color de la tabla*/

td {
    /*background-color: darksalmon;*/
}

img {
    float: center;
}

#news {
    background-color: #44803f;
}

#colombia {
    background-color: yellow;
}

#main-foto {
    background-color: yellow;
}

.news-content {
    background-color: #146152;
}

.odd {
    background-color: #b4cf66;
}

.even {
    background-color: #44803f;
}